@import 'tailwindcss';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	body,
	html {
		overflow-x: hidden;
	}
}

@theme {
	--color-primary-50: #fff9e5;
	--color-primary-100: #fff2cc;
	--color-primary-200: #ffe699;
	--color-primary-300: #ffd966;
	--color-primary-400: #ffcc33;
	--color-primary-500: #ffbf00;
	--color-primary-600: #cc9900;
	--color-primary-700: #997300;
	--color-primary-800: #664d00;
	--color-primary-900: #332600;
	--color-primary-950: #241b00;

	--color-secondary-50: #fcf7e9;
	--color-secondary-100: #f8efd3;
	--color-secondary-200: #f2dfa6;
	--color-secondary-300: #ebcf7a;
	--color-secondary-400: #e4bf4e;
	--color-secondary-500: #deaf21;
	--color-secondary-600: #b18c1b;
	--color-secondary-700: #856914;
	--color-secondary-800: #59460d;
	--color-secondary-900: #2c2307;
	--color-secondary-950: #1f1805;

	--color-gray-50: #f3f0f4;
	--color-gray-100: #e7e2e9;
	--color-gray-200: #cec5d3;
	--color-gray-300: #b6a8bd;
	--color-gray-400: #9d8ba7;
	--color-gray-500: #856e91;
	--color-gray-600: #6a5874;
	--color-gray-700: #504257;
	--color-gray-800: #352c3a;
	--color-gray-900: #1b161d;
	--color-gray-950: #130f14;
}

@source '../node_modules/flowbite-svelte/dist';
@source '../node_modules/flowbite-svelte-icons/dist';
