name: Test and Build

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install deps
        run: npm ci

      - name: Lint app
        run: npm run check && npm run lint

      - name: Build app
        run: npm run build
